.star-rating,
.imbaf-star-rating {
  background-image: url('../images/starsprite.png');
  background-size: 100% auto;
  background-position: 0 0;
  width: 73px;
  height: 20px;
  text-indent: -999999px;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.star-rating.rating-5,
.star-rating.rating-6,
.star-rating.rating-7,
.star-rating.rating-8,
.star-rating.rating-9,
.imbaf-star-rating.rating-5,
.imbaf-star-rating.rating-6,
.imbaf-star-rating.rating-7,
.imbaf-star-rating.rating-8,
.imbaf-star-rating.rating-9 {
  background-position: 0 -20px;
}
.star-rating.rating-10,
.star-rating.rating-11,
.star-rating.rating-12,
.star-rating.rating-13,
.star-rating.rating-14,
.imbaf-star-rating.rating-10,
.imbaf-star-rating.rating-11,
.imbaf-star-rating.rating-12,
.imbaf-star-rating.rating-13,
.imbaf-star-rating.rating-14 {
  background-position: 0 -40px;
}
.star-rating.rating-15,
.star-rating.rating-16,
.star-rating.rating-17,
.star-rating.rating-18,
.star-rating.rating-19,
.imbaf-star-rating.rating-15,
.imbaf-star-rating.rating-16,
.imbaf-star-rating.rating-17,
.imbaf-star-rating.rating-18,
.imbaf-star-rating.rating-19 {
  background-position: 0 -60px;
}
.star-rating.rating-20,
.star-rating.rating-21,
.star-rating.rating-22,
.star-rating.rating-23,
.star-rating.rating-24,
.imbaf-star-rating.rating-20,
.imbaf-star-rating.rating-21,
.imbaf-star-rating.rating-22,
.imbaf-star-rating.rating-23,
.imbaf-star-rating.rating-24 {
  background-position: 0 -80px;
}
.star-rating.rating-25,
.star-rating.rating-26,
.star-rating.rating-27,
.star-rating.rating-28,
.star-rating.rating-29,
.imbaf-star-rating.rating-25,
.imbaf-star-rating.rating-26,
.imbaf-star-rating.rating-27,
.imbaf-star-rating.rating-28,
.imbaf-star-rating.rating-29 {
  background-position: 0 -100px;
}
.star-rating.rating-30,
.star-rating.rating-31,
.star-rating.rating-32,
.star-rating.rating-33,
.star-rating.rating-34,
.imbaf-star-rating.rating-30,
.imbaf-star-rating.rating-31,
.imbaf-star-rating.rating-32,
.imbaf-star-rating.rating-33,
.imbaf-star-rating.rating-34 {
  background-position: 0 -120px;
}
.star-rating.rating-35,
.star-rating.rating-36,
.star-rating.rating-37,
.star-rating.rating-38,
.star-rating.rating-39,
.imbaf-star-rating.rating-35,
.imbaf-star-rating.rating-36,
.imbaf-star-rating.rating-37,
.imbaf-star-rating.rating-38,
.imbaf-star-rating.rating-39 {
  background-position: 0 -140px;
}
.star-rating.rating-40,
.star-rating.rating-41,
.star-rating.rating-42,
.star-rating.rating-43,
.star-rating.rating-44,
.imbaf-star-rating.rating-40,
.imbaf-star-rating.rating-41,
.imbaf-star-rating.rating-42,
.imbaf-star-rating.rating-43,
.imbaf-star-rating.rating-44 {
  background-position: 0 -160px;
}
.star-rating.rating-45,
.star-rating.rating-46,
.star-rating.rating-47,
.star-rating.rating-48,
.star-rating.rating-49,
.imbaf-star-rating.rating-45,
.imbaf-star-rating.rating-46,
.imbaf-star-rating.rating-47,
.imbaf-star-rating.rating-48,
.imbaf-star-rating.rating-49 {
  background-position: 0 -180px;
}
.star-rating.rating-50,
.imbaf-star-rating.rating-50 {
  background-position: 0 -200px;
}
