.imbaf_widget_product_recommendation {
  text-align: center;
}
.imbaf_widget_product_recommendation .imbaf-product-picture-container {
  margin-top: 10px;
}
.imbaf_widget_product_recommendation .imbaf-product-picture-container img {
  width: auto !important;
  height: auto !important;
  max-width: 100% !important;
}
.imbaf_widget_product_recommendation .product-title {
  font-weight: bold;
}
.imbaf_widget_product_recommendation .cta_button_container .buy-button,
.imbaf_widget_product_recommendation .cta_button_container .review-button {
  width: 100%;
  margin: 0px;
  text-align: center;
}
.imbaf_widget_product_recommendation .cta_button_container .buy-button .fa,
.imbaf_widget_product_recommendation .cta_button_container .review-button .fa {
  position: static;
}
.imbaf_widget_product_recommendation .imbaf-price-container .price-link {
  text-decoration: none !important;
}
.imbaf_widget_product_recommendation .imbaf-price-container .price-link:hover .price {
  color: #000;
}
.imbaf_widget_product_recommendation.with-border {
  border: 1px solid #ccc;
}
